[submodule "modules/roles"]
	path = production/modules/roles
	url = git@github.com:attachmentgenie/attachmentgenie-roles.git
[submodule "modules/profiles"]
	path = production/modules/profiles
	url = git@github.com:attachmentgenie/attachmentgenie-profiles.git
[submodule "modules/stdlib"]
	path = production/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "modules/firewall"]
	path = production/modules/firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
[submodule "production/modules/concat"]
	path = production/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "production/modules/systemd"]
	path = production/modules/systemd
	url = https://github.com/camptocamp/puppet-systemd.git
[submodule "production/modules/inifile"]
	path = production/modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "production/modules/grafana"]
	path = production/modules/grafana
	url = https://github.com/voxpupuli/puppet-grafana.git
[submodule "production/modules/promtail"]
	path = production/modules/promtail
	url = https://github.com/grafana/puppet-promtail.git
[submodule "production/modules/archive"]
	path = production/modules/archive
	url = https://github.com/voxpupuli/puppet-archive.git
[submodule "production/modules/consul"]
	path = production/modules/consul
	url = https://github.com/solarkennedy/puppet-consul.git
[submodule "production/modules/hashi_stack"]
	path = production/modules/hashi_stack
	url = https://github.com/voxpupuli/puppet-hashi_stack.git
[submodule "production/modules/prometheus"]
	path = production/modules/prometheus
	url = git@github.com:voxpupuli/puppet-prometheus.git
[submodule "production/modules/lvm"]
	path = production/modules/lvm
	url = https://github.com/puppetlabs/puppetlabs-lvm.git
[submodule "production/modules/loki"]
	path = production/modules/loki
	url = git@github.com:attachmentgenie/attachmentgenie-loki.git
[submodule "production/modules/tempo"]
	path = production/modules/tempo
	url = git@github.com:attachmentgenie/attachmentgenie-tempo.git
[submodule "production/modules/mailhog"]
	path = production/modules/mailhog
	url = git@github.com:attachmentgenie/attachmentgenie-mailhog.git
[submodule "production/modules/nginx"]
	path = production/modules/nginx
	url = https://github.com/voxpupuli/puppet-nginx.git
[submodule "production/modules/keepalived"]
	path = production/modules/keepalived
	url = https://github.com/voxpupuli/puppet-keepalived.git
[submodule "production/modules/dnsmasq"]
	path = production/modules/dnsmasq
	url = https://github.com/saz/puppet-dnsmasq.git
[submodule "production/modules/resolv_conf"]
	path = production/modules/resolv_conf
	url = https://github.com/saz/puppet-resolv_conf.git
[submodule "production/modules/mysql"]
	path = production/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "production/modules/grafana_agent"]
	path = production/modules/grafana_agent
	url = git@github.com:attachmentgenie/attachmentgenie-grafana_agent.git
