---
required_plugins:
    - vagrant-hostmanager
    - vagrant-puppet-install
nodes:
    - name: dc1
      hostname: dc1.observability.vagrant
      box: bento/centos-7.9
      cpus: 2
      memory: 3072
      ip: 192.168.56.40
      disks:
      - name: loki
        size: 2
      - name: mysql
        size: 2
      - name: prometheus
        size: 2
      - name: tempo
        size: 2
      synced_folders:
        - src: 'production'
          dst: '/etc/puppetlabs/code/environments/production'
    - name: dc2
      hostname: dc2.observability.vagrant
      box: bento/centos-7.9
      cpus: 2
      memory: 3072
      ip: 192.168.56.41
      disks:
      - name: loki
        size: 2
      - name: mysql
        size: 2
      - name: prometheus
        size: 2
      - name: tempo
        size: 2
      synced_folders:
        - src: 'production'
          dst: '/etc/puppetlabs/code/environments/production'
virtualbox_group: '/Vagrant/observability'
